* {
    background-color: rgb(19, 18, 18);
    color: rgb(217, 227, 225);


}

div {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;

}

img {
    width: 150px;
    height: 150px;
    display: flex;
    float: left;
    margin-top: 20px;


    border-radius: 60px;
}

pre {
    margin-top: 100px;
}