body {
    background-color: black;
}

#keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
    margin: 30px;

}

#display {
    border-radius: 20px;
    border: 1px solid rgb(87, 109, 110);
    width: 400px;
    height: 80px;
    font-family: bold;
    font-size: 50px;
    color: aliceblue;
    background-color: black;
    text-align: right;
}

button {
    background-color: rgb(61, 56, 45);
    width: 80px;
    height: 80px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 360px;
    border: 1px solid white;
}

button:hover {
    background-color: rgb(138, 134, 134);
}



#op {
    background-color: rgb(12, 68, 63);
}

#clear {
    background-color: rgb(60, 4, 4);
}

#del {
    background-color: rgb(46, 42, 44);

}

#eq {
    background-color: rgb(133, 132, 127);
}